html {
	height: 100%;
	background-color: $darkest;
	background-image: url('../img/page-background.png');
	background-repeat: repeat;
}

body
{
	/*background: $darkest;*/
	position: relative;
	min-height: 100%;
	height: 100vh;
}

.sub-page
{
	margin-top: 4em;

	a
	{
	transition: color 100ms ease;

		&:hover
		{
			color: $yellow;
			transition: color 200ms ease;
		}
	}

}

.mobile-hero
{
	/*background: $darkest;*/
	position: relative;
	min-height: 100%;
	height: 100vh;

	background: url("../img/mobile-hero.jpg") no-repeat center center; 
	background-size: cover;
}


.collapse
{
	padding-right: 0px;
	padding-left:  0px;
}

img
{
	margin-bottom: 1em;
	border: 1px solid #333;
}

hr
{
	margin-bottom: 2em;
	border-color: #333;
}

h2
{
	color: $yellow;
	margin-bottom: 0;
	font-weight: 500;
}

ul
{
color: $white;
font-weight: 300;
}


@media only screen and (min-width: 48em) {

	body {
		
	}

	.sub-page
	{
		margin-top: 6em;
	}

	.full-hero
	{
		background: url("../img/full-hero.jpg") no-repeat center center; 
		background-size: cover;
	}

	p
	{
		font-size: 1.3em;
	}

	.collapse:nth-child(1), 
	{
		padding-left: 8px;
		padding-right: 8px;
		margin-left: -8px;
	}

	.collapse:nth-child(2), .collapse:nth-child(3)
	{
		padding-left: 8px;
		padding-right: 8px;
		
	}

	.collapse:nth-child(4), 
	{
		padding-left: 8px;
		padding-right: 8px;
		margin-right: 8px;
	}
	ul
	{
	font-size: 1.3em;
	}
	
}