html {
	height: 100%;
background-color: $darkest;
}

body {
	/*background: $darkest;*/
	position: relative;
	min-height: 100%;
	height: 100vh;

	background: url("../img/mobile-hero.jpg") no-repeat center center; 
	background-size: cover;
	

}

.collapse
{
	padding-right: 0px;
	padding-left:  0px;
}



@media only screen and (min-width: 48em) {

	body {
		background: url("../img/full-hero.jpg") no-repeat center center; 
		background-size: cover;
	}

	.collapse:nth-child(1), 
	{
		padding-left: 8px;
		padding-right: 8px;
		margin-left: -8px;
	}

	.collapse:nth-child(2), .collapse:nth-child(3)
	{
		padding-left: 8px;
		padding-right: 8px;
		
	}

	.collapse:nth-child(4), 
	{
		padding-left: 8px;
		padding-right: 8px;
		margin-right: 8px;
	}
}