$darkest: #111111;

$white: #eee;

$pink: #ED1968;

$blue: #3BDDFF;
$yellow: #ffe928;

$boxShadowDark: 0px 4px 2px rgba(0,0,0,.25);
$boxShadowLight: 4px 4px 0px $white;
$boxShadowBlue: 4px 4px 0px $blue;
$boxShadowYellow: 4px 4px 0px $yellow;

$textShadowLight: 2px 2px 0px rgb(255,255,255);
$textShadowPink: 2px 2px 0px rgb(237, 25, 104);
$textShadowYellow: 2px 2px 0px rgb(255, 233, 40);
$textShadowBlue: 2px 2px 0px rgb(59, 221, 255);
$textShadowDarkest: 2px 2px 0px rgb(0, 0, 0);

$textShadowLightSecondary:   2px 1px 0px rgb(255,255,255);
$textShadowPinkSecondary:    2px 1px 0px rgb(237, 25, 104);
$textShadowYellowSecondary:  2px 1px 0px rgb(255, 233, 40);
$textShadowBlueSecondary:    2px 1px 0px rgb(59, 221, 255);
$textShadowDarkestSecondary: 2px 1px 0px rgb(0, 0, 0);
