$darkest: #222;

$white: #eee;

$pink: #ED1968;

$blue: #3BDDFF;
$yellow: #ffe928;

$boxShadowDark: 0px 4px 2px $darkest + 10;
$boxShadowLight: 4px 4px 0px $white;
$boxShadowBlue: 4px 4px 0px $blue;


$textShadowLight: 3px 3px 0px rgb(255,255,255);
$textShadowPink: 3px 3px 0px rgb(237, 25, 104);
$textShadowYellow: 3px 3px 0px rgb(255, 233, 40);
$textShadowBlue: 3px 3px 0px rgb(59, 221, 255);
