footer {
	background-color: $darkest;
	color: $white;
	margin-bottom: 0;
	padding-top: 2em;
	text-transform: uppercase;

	width: 100%;

	address {
		font-style: normal;


		.name {
			color: $pink;

		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;		
	}

	a {
	color: $blue;
	transition: color 100ms ease;
	}

	a:hover {
		color: $yellow;
		transition: color 100ms ease;
	}
}