header {
	background-color: $darkest;
	color: $white;
	margin-bottom: 0;
	height: 2.25rem;
	line-height: 2.25rem;

	font-family: $eyechart;
	font-weight: normal;
	border-bottom: 4px solid $blue;
	box-shadow: $boxShadowDark;
	position: fixed;
	z-index: 1000;

	top: 0;
	width: 100%;

}

@media only screen and (min-width: 48em) {
	header {
		height: 4.25rem;

		span {
			display: inline;
			margin-top: 1rem;
		}
		.global-nav, .weekly-nav {
			display: inline;
			float: right;
			font-family: $font-main;
		}

		.weekly-nav {
			margin-top: -.75rem;
			color: $yellow;
		}

		.global-nav ul, .weekly-nav ul {
			display: inline;
		}

		.global-nav ul li, .weekly-nav ul li {
			display: inline;
			margin-left: 1em;
		}

		.global-nav ul li a {
			color: $pink;
			-webkit-transition:  color 300ms ease-in;
    		transition:          color 300ms ease-in;

			&:hover {
				color: $blue;
				-webkit-transition:  color 200ms ease-in;
    			transition:  color 200ms ease-in;
    		}
		}

		.weekly-nav ul li a {
			color: $yellow;
			-webkit-transition:  color 300ms ease-in;
    		transition:          color 300ms ease-in;

			&:hover {
				color: $blue;
				-webkit-transition:  color 200ms ease-in;
    			transition: color 200ms ease-in;
    		}
		}
	}
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
