header {
	background-color: $darkest;
	color: $white;
	margin-bottom: 0;
	height: 2.25rem;
	line-height: 2.25rem;

	font-family: $eyechart;
	font-weight: normal;
	border-bottom: 4px solid $blue;
	box-shadow: $boxShadowDark;
	position: fixed;
	z-index: 1000;

	top: 0;
	width: 100%;

}
.mobile-global-nav
	{
		display: inline;
	}
.full-global-nav
	{
		display: none;
	}

@media only screen and (min-width: 48em) {
	header
	{
	height: 4.25rem;

		span {
			display: inline;
			margin-top: 1rem;
		}
	}

	.mobile-global-nav
	{
		display: none;
	}

	.full-global-nav, .full-global-nav ul, .full-global-nav ul li
	{
		display: inline-block;
		float: right;
		font-family: $font-main;

		.global-nav
		{
			a
			{
				color: $pink;
				margin-left: 1.25em;
			}
			
		}
	}

}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
}
