header {
	background-color: $darkest;
	color: $white;
	margin-bottom: 0;
	height: 2.25rem;
	line-height: 2.25rem;

	font-family: $eyechart;
	font-weight: normal;
	border-bottom: 4px solid $blue;
	box-shadow: $boxShadowDark;
	position: fixed;
	z-index: 1000;

	top: 0;
	width: 100%;

}