p {
	color: $white;
	font-weight: 300;
}

img {
	width: 100%;
}

a
{
    color: $blue;
    text-decoration: none;
    font-weight: 500;
}

main {

  background: url("../img/hero.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* margin-top: -5vh; */
}

.hero-image {
    padding-bottom: 0em;
    padding-top: 5vh;
    box-shadow: $boxShadowDark;
    height: 100vh;
    
    h1 {
        
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 0;
        padding: .25em;

    	
    	text-align: center;
    	font-size: 2.5rem;
    	line-height: 2.75rem;
        color: $blue - 40;
        text-shadow: $textShadowYellow;
    	
    	border-top: 8px dotted $yellow;
        border-bottom: 8px dotted $yellow;
        border-radius: .1em;
    	
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
    }


    button {
        border: none;
        box-shadow: $boxShadowYellow;
        background-color: $pink;
        color: $white;
        opacity: .90;
        -webkit-transition:  color 200ms ease-in, background-color 200ms ease-in, box-shadow 200ms ease-in;
        transition:          color 200ms ease-in, background-color 200ms ease-in, box-shadow 200ms ease-in;


        &:hover, &:focus, &:active {
            color: $white;
            background-color: $blue - 60;
            box-shadow: $boxShadowBlue;

            -webkit-transition:  color 300ms ease-out, background-color 300ms ease-out, box-shadow 300ms ease-out;
            transition:          color 300ms ease-out, background-color 300ms ease-out, box-shadow 300ms ease-out;
        }
    }
}

.full-hero {
    display: none;
}

.return-to-top
{
    background: $darkest;
    
    a
    {
        background: $blue - 60;
        color: $white;
        border: $blue solid 2px;
        border-radius: .1em;
        position: relative;
        float: right;
        margin-right: 16px;
        margin-top: 16px;
    }
}

.home-page-section-header
{   
    background: $darkest;
    box-shadow: $boxShadowDark;
    width: 100%;

    h2
    {
        
        padding: 16px;
        padding-top: 1em;
        margin: 0;

        display: block;
        position: relative;
        left: -16px;
        width: 100%;

        color: $yellow;
        text-shadow: $textShadowPink;
        font-size: 2em;
        line-height: 1em;
        
    }
}

.home-page-section-content {
    background: $darkest;

   


}

.home-page-event {
    border-bottom: 2px solid $white - 150;
    text-align: left
}

.home-page-event-content {
    background: $darkest;
    padding-bottom: 1.75em;
    

	h3
    {
		font-size: 1.5em;
		margin: 0 0 0 0;
        padding-top: .75em;
        padding-bottom: .25em;

        /*background: $blue;*/


        .weekly-name
        {
            color: $blue;
            font-variant: small-caps;
            font-weight: 700;

        }

        .weekly-day {
            color: $white;
            font-variant: small-caps;
            font-weight: 700;
        }
	}


    .special-event-date
    {
        color: $white;
    }

    img {
        border: 1px solid $darkest + 10;
        margin-bottom: .5em;
        box-shadow: $boxShadowDark;
    }

    p {
        margin: 0;
        padding: 0;
        font-weight: thin;

        strong
        {
            color: $pink;
            font-weight: normal;
        }
    }

    .col-xs-6 {
        padding: 0;
    }

    .button, button
    {
        margin-right: 0;
        margin-left: 0;
        margin-top: 8px;
        background: none;
        color: $yellow;
        border-color: $blue;
        font-weight: 900;
        text-align: center;
        -webkit-transition:  color 200ms, border-color 300ms;
        transition:          color 200ms, border-color 300ms;

        &:hover, &:focus, &:active {
            color: $pink;
            border-color: $yellow;
            -webkit-transition:  color 200ms, border-color 300ms;
            transition:          color 200ms, border-color 300ms;
        }
    }

    .button:nth-child(odd)
    {
        padding-right: 8px;
    }

    .button:nth-child(even)
    {
        padding-left: 8px;
    }
}

@media only screen and (min-width: 48em) {

    .mobile-hero, .home-page-event-vip-button
    {
        display: none;
    }

    .full-hero {
        display: block;
        background: url("../img/full-hero.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h1
        {
            border: none;
            margin-top: 10rem;
            font-size: 8vw;
            line-height: 8vw;
            color: $blue - 40;
        }

        .button
        {
            background: none;
        }

        button
        {
            text-align: center;
        }

        .full-social .button
        {
            margin-top: 4em;
            font-weight: 100;
            color: $white;
        }
    }
}

@media only screen and (min-width: 62em) {

}

@media only screen and (min-width: 75em) {

}
